.app4 .circle {
  border: 1px solid red;
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
}
@keyframes change {
  0% {
    background: blue;
  }
  100% {
    background: red;
  }
}
.app4 .circle.active {
  animation: 1s change linear infinite alternate;
}
